{% if page_button.link %}
    <a class="btn btn-primary m-1 page-item"
       href="?page={{ page_button.link.pageNr }}"
       data-page-nr="{{ page_button.link.pageNr }}"
    >
        {{ page_button.text }}
    </a>
{% else %}
    <span class='btn btn-secondary border-dark m-1 page-item'>
        {{ page_button.text }}
    </span>
{% endif %}
