<div id="cart-sign" onclick="toggleCart()"></div>
<div class="cart-container row">
    <div id="cart-modal" class="justify-content-lg-center">
        <div id="product-list"></div>
        <hr/>
        <div id="cart-total">
            <span>Total: </span>
            <span class="amount">0</span>
            <span class="currency">$</span>
        </div>
    </div>
</div>
